<div class ="container mt-2">
    <div class="card">
        <div class="card-header">selectionner un voyage</div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>

                    <th>date debut</th>
                    <th>date fin</th>
                    <th>ville de départ</th>
                    <th>ville d'arrive</th>
                    <th>type de vehicule</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let v of voyagesSansConducteur|async"
                    [class.table-primary]="selectedVoyage === v"
                    (click)="selectVoyage(v)">

                    <td>{{v.date_Debut|date:'dd-MM-yyyy'}}</td>
                    <td>{{v.date_Fin|date:'dd-MM-yyyy'}}</td>
                    <td>{{v.vilDep}}</td>
                    <td>{{v.vilAr}}</td>
                    <td>{{v.typeVehicule}}</td>
                </tr>
                </tbody>
            </table>
            <button (click)="validateSelection()" [disabled]="!selectedVoyage" class="btn btn-info">Valider</button>

        </div>
    </div>
</div>
